
  .introduce {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .introduce p {
    color: white;
    font-size: 20px;
  }

  /* 위까지가 hidden1 */

  /* 아래부터 hidden2 */

  .services {
    margin-top: 80px;
  }

  .bi-house, .bi-people, .bi-cash-coin, .bi-exclamation-triangle, .bi-alarm, .bi-moon {
    width: 60px;
    height: 60px;
  }
  
  .services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .services .content .servicesBox {
    margin: 20px;
    width: 350px;
    max-width: calc(30% - 40px);
    transition: 0.4s;
    text-align: center;
    padding: 30px 10px;
    border-radius: 4px;
    background: white;
    box-sizing: border-box;
  }
  
  .services .content .servicesBox:hover {
    background: black;
  }
  
  .services .content .servicesBox svg {
    transition: 0.4s;
  }
  
  .services .content .servicesBox:hover svg {
    filter: invert(1);
  }
  
  .services .content .servicesBox h2 {
    margin-top: 4px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.4s;
  }
  
  .services .content .servicesBox:hover h2 {
    color: white;
  }
  
  .services .content .servicesBox p {
    margin: 0;
    color: black;
    transition: 0.4s;
  }
  
  .services .content .servicesBox:hover p {
    color: white;
  }

  /* 위까지가 hidden2 */

  /* 아래부터 hidden3 */

  .subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .subscribe .card {
    position: relative;
    margin: 50px;
    width: 340px;
    height: 420px; 
  }
  
  .subscribe .card .box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    transition: 0.4s;
    border-radius: 4px;
    background-color: white;
  }
  
  .subscribe .card:hover .box {
    transform: scale(1.1);
  }

  .bi-check2 {
    width: 20px;
    height: 20px;
  }

  .bi-x-lg {
    margin-right: 4px;
  }

  .x2 {
    margin-top: 2px;
  }

  .subscribe .card .box .content  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  h3, h4 {
    z-index: 1;
    transition: 0.4s;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 4px;
  }

  h4 {
    font-size: 18px;
  }
  
  .subscribe .card .box .content p {
    z-index: 1;
    transition: 0.4s;
    color: black;
    font-size: 16px;
    line-height: 28px;
    padding: 20px 8px 22px 8px;
  }
  
  .subscribe .card .box .content button {
    border: none;
    cursor: pointer;
    position: relative;
    color: black;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding: 12px 22px;
    transition: 0.2s;
    border-radius: 5px;
    background: #e1cdbd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .subscribe .card .box .content button:hover { 
    color: white;
    background: #c5d6df;
  }

  /* 아래는 작은 화면일 때 */

  @media (max-width: 1000px) {

    .services .content .servicesBox p {
      font-size: 8.6px;
    }

    .subscribe .card {
      margin: 10px;
    }

  }
